

doctype html
html(lang="en")
  head
    title= title
    link(href="css/index.css", rel="stylesheet")
  body
    h1 Post请求测试
    <form class="ui form segment" action="/push" method="post">
            <input type="text" name="lastname">
            <input type="submit" class="ui button fluid" value="登录">
    </form> 