<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="../public/css/index.css" />
  </head>
  <body>
    <h1><%= API文档-首页Demo %></h1>
    <p>Welcome to <%= title %></p>
    <p>先用简单模板引擎，以后考虑配合webpack和三大框架集成</p>
  </body>
</html>
